@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

	font-family: 'Lato', sans-serif;
	color: #373737;

}
	/* header */
header{
	background-color: #fbfbfb;
}
header nav{
	padding: 15px 18%;
}
.logo-header{
	width: 13rem;
}
.logo-header img{
	max-width: 100%;
	max-height: 100%;	
}
/* section */
.icon-btn {
	position: fixed;
	color: #fff;
	height: 45px;
	width: 45px;
	bottom: 18px;
	right: 14px;
	background: #486bdf;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
}
.icon-btn ion-icon{
	font-size: 1.6rem;
	color: #fff;
}
section{
	background: url("picture/header.png");
	background-position: center;
	background-size: cover;	
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content{
	text-align: center;
	color: #fff;
}
.content h1{
	font-size: 3.5rem;
}
.content h3{
	font-size: 1.4rem;
	font-weight: 300;
	margin-top: 0.7rem;
}
.submit-form{
	text-align: center;
	color: #fff;
	padding-top: 50px;
}
form p{
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 0.8rem;
}
.submit-form div{
	background-color: rgba(128, 128, 128, 0.45);
	padding: 8px 10px;
	/* width: fit-content; */
	border-radius: 8px;
}
form input{
	width: 300px;
	padding: 11px 8px;
	margin-right: 3px;
	font-size: 18px;
	font-family: inherit;
	border-radius: 8px;
	/* border: 1 solid transparent; */
}
section form button{
	background-color: #4869db;
	font-size: 0.9rem;
	width: 100px;
	padding: 12px 15px;
	border-radius: 8px;
	border: none;
	color: #fff;
	cursor:pointer;
}
nav ion-icon{
	margin-right: 0.6em;
	color: #0707e9;
}
	
	/* nav */

nav ul{

	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
	margin-bottom: 2rem;
}
nav li{
	padding: 5px 6px;
	white-space: nowrap;
	max-width: 100%;
}
.nav-btn{
	background-color: #f5f5f5;
	padding: 8px 12px;
	border-radius: 19px;
	border: none;
	font-size: 19px;
	font-family: inherit;
	font-weight: 300;
	cursor: pointer;
}

/* main */

article{
	display: flex;
	flex-flow: wrap;
	/* flex-wrap: wrap; */
	justify-content: center;
	margin: 0 10%;
	font-family: 'Inter', sans-serif;
}
article .box-info{
	background: #ffffff;
	width: 360px;
	height: 430px;
	padding: 40px 20px;
	margin: 0 15px 35px 15px; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1em;
	border: 1px solid transparent;
	box-shadow: 0 0 5px 0.5px #dcdde1;
}
main h3{
	font-size: 1.5rem;
	font-weight: 300;
}
main p{
	font-size: 17.5px;
	font-weight: 200;
	line-height: 150%;
}
.small-icon img{
	width: 60px;
	height: 60px;
	border-radius: 6px;
}
.box-info a{
	background: linear-gradient(90deg, #415fc0, #ce72d1 50%, #415fc0);
	background-size: 200%;
	padding: 12px 0;
	text-align: center;
	text-decoration-line: none;
	border-radius: 25px;
	color: #fff;
	text-transform: uppercase;
	font-style: italic;
	font-size: 1.1em;
	font-weight: 300;
	/* transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0; */
	transition: all 0.5s ease;
}

/* footer */
footer{
	background: #fafafa;
	padding: 17px 0;
	font-size: 18px;
	margin-top: 4rem;
}
footer p{
	padding-left: 18%;
}

/* pseuido class */

section button:hover{
	background-color: #1940cc;
}

.active, .nav-btn:hover{
	background-color: #26afeb;
	color: #fff;
}
.nav-btn:hover ion-icon{
	color: #fff;
}

.icon-btn:hover{
	transform: translateY(-2px);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
}

article .box-info:hover{
	background-color: #f8f8ff;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: inset -1px 1px 9px 4px #ededed, -14px -14px 80px #fff;
}
.box-info a:hover{
	background-position: right center;
}

footer a:link{
	color:#373737;
}
footer a:visited{
	color:#373737;
}
footer a:hover{
	color:#0707e9;
}



